.about-section {
  background-color: #f1d1e3;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 24px;
  padding-right: 24px;
}

.about-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-title {
  font-size: 36px;
  font-weight: bold;
  color: #192d6e;
  margin-bottom: 24px;
}

.about-paragraph-main {
  color:  #192d6e;;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 16px;
}

.about-highlight {
  font-weight: 600;
}

.about-paragraph {
  color: #192d6e;;
  font-size: 16px;
}

.about-image-container {
  flex: 1;
}

.about-image {
  width: 100%;
  border-radius: 16px;
  border: 1px solid#f3b6d8;
  background-color: white;
}

/* Responsive */
@media (min-width: 768px) {
  .about-section {
    padding-left: 56px;
    padding-right: 56px;
  }

  .about-container {
    flex-direction: row;
  }
}