/* Loader.css */

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff9f6;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
}

.loader-spinner {
  width: 64px;           /* same as w-16 */
  height: 64px;          /* same as h-16 */
  border: 6px solid #ec75c4; /* default border color */
  border-top-color: transparent;
  border-bottom-color: transparent;
  border-left-color: #df6dad;  /* left side color */
  border-right-color: #6ebcfc; /* right side color */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Keyframes for spinning */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}