:root {
  --primary-pink: #f5a3c7;
  --primary-navy: #1a2a4f;
}

/* HOME PAGE BACKGROUND */
.hero,
.services-section,
.faq-section,
.about-section {
  background: transparent;
}
.home-container {
  min-height: 100vh;
  background: linear-gradient(
    150deg,
    #dfc9d3 10%,
    #e69bbb 50%,
    #6b91ea 100%

  );
}